<div class="row mb-1 m-0 custom-border">
    <div class="col-md-1 border-right p-0"> 
            <img src="assets/box.png" width="60px" height="60px">
    </div>
    <!--details articles-->
    <div class="col-md-4 border-right">
        <div class="col"> 
            <div class="row">
                <div class="col-md-2"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-10">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-10">Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fas fa-phone-alt blue-color"></i></div>
                <div class="col-md-10">+225 0749560827</div>
            </div>
        </div>
    </div>
    <!--details commandes-->
    <div class="col-md-4 border-right mt-1 mb-1">
        <div class="col"> 
            <div class="row">
                <div class="col-md-2"><i class="fa-solid fa-qrcode blue-color"></i></div>
                <div class="col-md-10">CMD-1234</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fa-regular fa-calendar-check blue-color"></i></div>
                <div class="col-md-10">Date</div>
            </div>
            <div class="row">
                <div class="col-md-2"><i class="fa-solid fa-cart-arrow-down blue-color"></i></div>
                <div class="col-md-10">LIVREE</div>
            </div>
        </div>
    </div>
    <!--boutons d'action-->
    <div class="col-md-3">
        <div class="row me-5 mt-3">
            <div class="col-md-6">
                <button class="btn btn-link">
                    <i class="fa-solid fa-pencil blue-color"></i>
                    &nbsp;Modifier
                </button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-link">
                    <i class="fa-solid fa-trash blue-color"></i>
                    &nbsp;Supprimer
                </button>
            </div>
        </div>
    </div>
</div>
