<div class="row mb-1 mr-0 custom-border mt-1 mx-1">
    <div class="col-md-1 border-right p-3"> 
            <img src="assets/box.png" width="60px" height="60px">
    </div>
    <!--details articles-->
    <div class="col-md-4 border-right m-auto">
        <div class="col"> 
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-11">Nom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-circle-info blue-color"></i></div>
                <div class="col-md-11">Prénom</div>
            </div>
            <div class="row">
                <div class="col-md-1"><i class="fa-solid fa-phone blue-color"></i></div>
                <div class="col-md-11">+225 0749560827</div>
            </div>
        </div>
    </div>
    <!--details categories-->
    <div class="col-md-4 border-right m-auto">
        <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-house"></i></div>
            <div class="col-md-11">Adresse 1 adresse 2</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-location-dot"></i></div>
            <div class="col-md-11">1234 ville</div>
        </div>
        <div class="row">
            <div class="col-md-1"><i class="fa-solid fa-earth-africa"></i></div>
            <div class="col-md-11">pays</div>
        </div>
    </div>
    <!--boutons d'action-->
    <div class="col-md-3  ">
        <div class="row d-flex justify-content-between">
            <div class="col-md-4">
                <button class="btn btn-link">
                    <i class="fa-solid fa-pencil"></i>&nbsp;Modifier
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link">
                    <i class="fa-solid fa-trash-can"></i>&nbsp;Supprimer
                </button>
            </div>
            <div class="col-md-4">
                <button class="btn btn-link">
                    <i class="fa-solid fa-rectangle-list"></i>&nbsp;Details
                </button>
            </div>
        </div>
    </div>
</div>
