
<div class="col">
    <div class="row m-3">
        <div class="col-md-6 p-0">
            <h1>Liste des fournisseurs</h1>
        </div>
        <div class="col-md-6 text-end">
            <app-bouton-action
            (clickEvent)="nouveauFournisseur()"
            ></app-bouton-action>
        </div>
    </div>
    <div class="col m-3">
        <app-detail-client-founisseur></app-detail-client-founisseur>
        <app-detail-client-founisseur></app-detail-client-founisseur>
        <app-detail-client-founisseur></app-detail-client-founisseur>
        <app-detail-client-founisseur></app-detail-client-founisseur>
    </div>
    <div class="row mb-3">
        <div class="col-md-12 text-center">
            <app-pagination></app-pagination>
        </div>
    </div>
</div>

